# Terraform local state and binary files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS Files
.DS_Store
Thumbs.db